@model List<Publicacion>;


@{
    ViewData["Title"] = "Inicio";
    ViewData["imagen"] = "/assets/img/home-bg.jpg";
    ViewData["titleHeader"] = "Blog El Mundo";
    ViewData["subTitleHeader"] = "Noticias todos los dias";
}


<html lang="en">
    <head>
        <title>@ViewData["Title"]</title>
    </head>
    <body>
       
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('@ViewData["imagen"]')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>@ViewData["titleHeader"]</h1>
                            <span class="subheading">@ViewData["subTitleHeader"]</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    @foreach(var item in Model)
                    {
                             <!-- Post preview-->
                        <div class="post-preview">
                            <a asp-action="post" asp-controller="home" asp-route-id=@item.Id>
                                <h2 class="post-title">@item.Titulo</h2>
                                <h3 class="post-subtitle">@item.Subtitulo</h3>
                            </a>
                            <p class="post-meta">
                                Posted by
                                <a href="#!">@item.Creador</a>
                                on @item.Creacion.ToLongDateString();
                            </p>
                        </div>
                        <!-- Divider-->
                        <hr class="my-4" />
                    }
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>
    </body>
</html>
